* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
  width: 70%;
  height: 400px;
  margin: 0 auto;
  margin-top: 100px;
}
.header_navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
.links {
  color: #f9faf8;
}
.links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.links ul li {
  list-style-type: none;
  margin-right: 20px;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 50px auto;
}

.header_items_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.header_item_title {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  line-height: 3rem;
}

.header_item_p {
  font-size: 18px;
  color: #e5e7eb;
  width: 100%;
  margin: 10px 0px;
}

.header_item_btn {
  background-color: #3882f6;
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: #e5e7eb;
  margin-top: 15px;
}

.header_items_right p {
  background-color: #e5e7eb;
  font-size: 16px;
  color: #1f2937;
  width: 400px;
  height: 200px;
 justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}
.header_center {
  display: flex;
  width: 70%;
  flex-direction: column;
  text-align: center;
  margin: 100px auto;
  justify-content: center;
}

.header_center h1 {
  margin-bottom: 25px;
}

.header_center_items {
  display: flex;
  width: 65%;
  margin: 0 auto;
}
.header_center_subitems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
 justify-content: center;
  width: 15%;
}

.header_center_subitems span {
  width: 100px;
  height: 100px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}
.header_center_subitems p {
  font-size: 14px;
}

.item_text {
  background-color: #e5e7eb;
  width: 70%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
}
.item_text p {
  width: 70%;
  margin: 0 auto;
}

.action {
  display: flex;
  width: 60%;
  height: 100px;
  background-color: #3882f6;
  margin: 50px auto;
  color: #e5e7eb;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
}

.action div {
  width: 60%;
}

.action div p {
  font-size: 12px;
}

.action button {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #e5e7eb;
  color: #e5e7eb;
  border-radius: 10px;
  padding: 0px 5px;
}
.footer {
  background-color: #1f2937;
  width: 70%;
  height: 40px;
  display: flex;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}
